* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 36px;
  font-weight: bold;
}

body {
  background-color: rosybrown;
}

span {
  margin: -10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  flex-basis: 100%;
}

.space {
  margin-right: 35px;
}

.right-letter {
  color: greenyellow;
}

.wrong-letter {
  color: red;
}

.current-letter {
  border-color: black;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
